/* GENERIC HEADER & FOOTER - SHARED BETWEEN ALL CSS FILES*/

/* BODY */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

/* BUTTON */
button {
    position: relative;
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: 400;
    font-size: 1em;
    border: 3px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 5px 5px 10px #E1DDDF;
}

@media only screen and (max-width: 920px) {
    button {
        width: 150px;
        padding: 15px 0;
        font-weight: 400;
        font-size: 1em;
    }
}

button:hover span {
    width: 100%;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    background-position: left bottom;
    transition: all .3s ease-out;
}

/* NAVIGATION */
nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 150px;
    cursor: pointer;
}

nav li{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 20px;
    /* margin-left: 30px;
    margin-right: 30px; */
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
}

nav li a{
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}

nav li a:hover{
    color: #0B3D91;
    text-decoration: none;
}

nav li .active{
    color: #0B3D91;
}

nav li a::after{
    content: '';
    background: #0B3D91;
    width: 0;
    height: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: width 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.search-icon{
    width: 30px;
    cursor: pointer;
}

.profile-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 1vw;
    margin-right: 1vw;
}

.nasa-tv-icon {
    width: 35px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 1200px) {
    nav .logo {
        width: 100px;
        cursor: pointer;
    }

    nav li{
        display: inline-block;
        text-transform: uppercase;
        margin: 0 20px;
        font-weight: 500;
        font-size: 1em;
        text-decoration: none;
    }
}

@media only screen and (max-width: 920px) {
    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
    }

    nav .logo {
        width: 100px;
        cursor: pointer;
    }

    nav li{
        display: flex;
        justify-content: right;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-links.active {
        right: 10%;
    }
}



/* BACK TO TOP */
.back-top {
    position: fixed;
    top: 65%;
    left: 80%;
    display: none;
    padding: 75px;
}

.back-top-img{
    width: 100px;
    height: auto;
}

@media only screen and (max-width: 920px) {
    .back-top {
        left: 75%;
    }
}


/* FOOTER */
footer {
    background-image: url("../img/Footer-bg.png");
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    position: relative;
    box-sizing: border-box;
    padding-top: 100px;
}

.footer-title {
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
    letter-spacing: .15em;
}

.public-media-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 5% 15% 5% 15%;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 25%;
    margin: 0 10% 0 10%;
}

.public-media-item {
    cursor: pointer;
    width: 75%;
    height: 100%;
}

.contact-container {
    justify-content: right;
}

.social-info-title {
    font-weight: 800;
    font-size: 2em;
}

.social-info-desc {
    font-weight: 200;
    font-size: 1.5em;
    margin-top: 30px;
}

.social-media-icon {
    width: 40px;
    height: 40px;
}

.smi-instagram-icon {
    margin-left: 20px;
    margin-right: 20px;
}

.contact-title {
    font-weight: 800;
    font-size: 2em;
}

.fa-envelope {
    margin-right: 20px;
}

.contact-email {
    font-weight: 200;
    font-size: 1.5em;
}

#input-email {
    width: 20vw;
    height: 40px;
    font-size: 1.5em;
    background: #ffffff;
    color: #000;
    outline: none;
}

.footer-line{
    margin-top: 100px;
    border-bottom: 3px solid #f0f0f0;
    opacity: .5;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-container p {
    font-size: 1em;
}

.footer-container {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 920px) {
    .footer-title {
        font-weight: 700;
        font-size: 1.75em;
        letter-spacing: .15em;
    }

    .public-media-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        margin: 5% 10% 5% 10%;
    }

    .media-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 0;
        margin: 0 10% 0 10%;
    }

    .public-media-item {
        cursor: pointer;
        width: 75%;
        height: 100%;
    }

    .contact-container {
        justify-content: left;
    }

    .social-info-title {
        font-weight: 600;
        font-size: 1.5em;
    }

    .social-info-desc {
        font-weight: 200;
        font-size: 1.5em;
        margin-top: 30px;
        max-width: 50%;
    }

    .smi-instagram-icon {
        margin-left: 15px;
        margin-right: 15px;
    }

    .contact-title {
        font-weight: 600;
        font-size: 1.5em;
    }

    .contact-email {
        font-weight: 200;
        font-size: 1.5em;
    }

    #input-email {
        width: 30vw;
        height: 40px;
        font-size: 1.5em;
    }

    .footer-container p {
        font-size: 1em;
    }

    .footer-container {
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: left;
        align-items: center;
    }

}



/* ###################################### */
/* ###################################### */
/* ###################################### */
/* ARTICLES PAGE CSS BELOW */


.article-body {
    color: #FFFFFF;
    background-color: #000000;
}

.article-header {
    background-image: url("../img/article-page-astronaut-bg.png");
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

.articles-title {
    /* position */
    position: absolute;
    bottom: 15%;
    left: 10%;

    /* appearance */
    font-weight: 900;
    font-size: 5em;
    letter-spacing: 20px;
}

.read-article-link {
    margin-left: 70%;
}

.articles-nav {
    /* position */
    position: absolute;
    bottom: 0;
    left: 10%;

    /* appearance */
    font-weight: 200;
    font-size: 2em;
}

.articles-sub-menu-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-top: 25px;
    margin-bottom: 100px;
}

.button-container button {
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;

    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
}

.button-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    left: 5%;
    justify-content: left;
}

.dropdown-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 50px;
    right: 5%;
    justify-content: right;
}

.dropdown button {
    background: transparent;
    letter-spacing: 2px;

    font-weight: 500;
    font-size: 1em;
}

.dropdown button:hover {
    background-color: #ffffff;
    color: #000000;
    transition: all .3s ease-out;
}

.articles-section {
    position: relative;
    margin-top: 50px;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.article-items {
    padding-right: 20px;
    margin-bottom: 50px;
}

.card-items {
    color: #000;
    background-color: #fff;
}

.card-items a {
    text-decoration: none;
    color: #000;
}

.card-text {
    padding: 3%;
}


/* CAPSTONE */
.capstone-sec-title {
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

.capstone-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .5);
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}

.capstone-img {
    width: 20vw;
    height: auto;
}

.capstone-item2 {
    margin-left: 3vw;
}

.capstone-title {
    font-weight: 900;
    font-size: 4em;
}

.breadcrumb-home {
    color: #FFFFFF;
    text-decoration: none;
}


/*
.article-title {
    font-weight: 800;
    font-size: 1.5em;
}

.gallery-section {
    font-size: 3em;
    font-weight: 800;
    letter-spacing: .25em;

    text-align: center;
    margin-top: 3%;
}

.carousel-container {
    border: 1px solid rgba(255, 255, 255, .5);
    margin-left: 10%;
    margin-right: 10%;
}

.carousel-container button {
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;

}

.carousel-item-text button {
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 2px;
}

.carousel-item {
    display: flex;
    padding-top: 5%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-left: 15%;
}

.carousel-img{
    width: 30%;
    height: auto;
}

.carousel-item-text .title {
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
}

.carousel-item-text .desc {
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
} */