body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #F8F8F8;

    /* Center Body */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
}


.header {
    height: 1057px;
    width: 100vw;
    background-image: url(../img/kidastronaut.png);
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 150px;
    cursor: pointer;
}


.nav-links li{
    display: inline-block;
    margin-left: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}


.nav-links li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 0;
    position: relative;
}


.nav-links li a:hover{
    color: #0B3D91;
}


.nav-links li .active{
    color: #0B3D91;
}


.nav-links li a::after{
    content: '';
    background: #0B3D91;
    width: 0;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}


.nav-links li a:hover::after {
    width: 100%;
}


/* .search-icon{
    width: 30px;
    cursor: pointer;
    padding-right: 1vw;
} */


.Profile-icon {
    width: 35px;
    cursor: pointer;
    padding-right: 1vw;
}

/* Nasa TV */

.NasaTv-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 5vh;
    justify-content: center;
}

/* .NasaTv-item {
    padding: 5%;
} */



.NasaTv-pic {
    width: 40vw;
    height: auto;;
}

.NasaTv-Heading {
    font-weight: 900;
    font-size: 3vw;
    letter-spacing: 0.25vw;
    text-transform: uppercase;
}

.NasaTv-SubHeading {
    font-style: italic;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: 0.15vw;
    text-transform: uppercase;
}

.NasaTv-Scheduletitle{
    font-weight: 400;

}

.upcoming-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}

.upcoming-day {
    font-weight: 900;
    letter-spacing: 0.15vw;
    text-transform: uppercase;
    text-align: center;
}

.time{
    font-weight: 700;
}

.ChannelName{
    font-weight: 400;
}

/* .four{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 1115px;
    top: 1435px;
} */

/* .five{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 1115px;
    top: 1475px;
} */

/* .five{
    position: absolute;
    width: 50px;
    height: 25px;
    left: 1115px;
    top: 1520px;
} */

/*
.NASA-stem{
    position: absolute;
    width: 389px;
    height: 26px;
    left: 1190px;
    top: 1436.69px;
}

.ISS-benefits {
    position: absolute;
    width: 211px;
    height: 26px;
    left: 1190px;
    top: 1477.69px;
}

.Dynamics {
    position: absolute;
    width: 305px;
    height: 26px;
    left: 1190px;
    top: 1518.69px;
} */

.nasaTv-icon {
    width: 40px;
    cursor: pointer;
}










/* Nasa Up To */
.NasaUpTo{
    background: #000000;
}


.NasaUpToMedText{
    font-weight: Bold;
    font: Poppins;
    font-size: 40 px;
}


/* Buttons */
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 0;
    font-weight: 400;
    border: 2px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 7px 7px 15px #E1DDDF;
    position: relative;
    overflow: hidden;
}


span {
    background: #000000;
    height: 100%;
    width: 100%;
    border-radius: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    border: none;
    background-position: left bottom;
    transition: all .3s ease-out;
  }


footer {
    width: 100%;
    background: linear-gradient(to bottom, #212121, #000000);
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    /* background-image: url("img/Footer-img.png"); */
}

.footer-title {
    text-align: center;
    font-weight: 700;
    font-size: 2vw;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 2% 10% 5% 10%;
}

.public-media-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 0 20% 0 20%;
}

.public-media-item {
    cursor: pointer;
    width: 70%;
    height: 100%;
}

.social-info-title {
    font-weight: 500;
    font-size: 1.5vw;
}

.social-media-item {
    width: 50px;
    height: 50px;
}

.social-info-desc {
    font-weight: 300;
    font-size: 1vw;
}

.contact-title {
    font-weight: 500;
    font-size: 1.5vw;
}

.fa-envelope {
    margin-right: 2%;
}

.contact-email {
    font-weight: 300;
    font-size: 1vw;
}

#input-email {
    width: 50%;
    height: 10%;
    background: #C4C4C4;
    color: #ccc;
    opacity: .45;
    outline: none;
    border: 0;
}

.footer-bg {
    width: 100%;
    height: 50vh;
}

.NasaUpTo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("img/astronaut-flying.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.NasaUpToTitle {
    margin-top: 3%;
    color: #ffffff;
    font-weight: Bold;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    opacity: 1;
    text-align: center;
}

.NasaUpToText-sub {
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 1;
}

.NasaUpToSmallText {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.3em;
    opacity: 1;
}

.NasaUpTo-item2{
    padding: 10vh;
    color: #ffffff;
    text-align: left;
}

.NasaUpTo-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0 20% 0 20%;
    border-color: #E5E5E5;
    margin-bottom: 5%;
}


/* Floating animation below*/
.NasaUpTo-item img{
    width: 25vw;
    height: auto;
    left: 5%;
    top: 15%;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}
@keyframes fadeInFromTop{
    from{
        opacity: 0;
        transform: translate(-20px)
    }
    to {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes floating{
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    50%{
        transform: translate(10%, 5%) rotate(360deg);
    }
    75%{
        transform: translate(0%, 15%) rotate(360deg);
    }
    100%{
        transform: translate(0%, 0%) rotate(360deg);
    }
}

/* Resources*/ 
.cardcontainer {
    display: flex;
    width: 60%; 
    padding: 20%;
    justify-content: center;
}
.card {
    padding: 5%;
}
.card:hover{
    transform: scale(1.1);
    padding: 5%;
    animation-delay: .5s;

}

.DiscoveryImage{
    background-image: url("../img/Discoveries.png");
    background-size:100%;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom:20px;
}
.MissionLargeFont{
font-size: 50px;
font-weight: bold;
color: white;
}
.MissionLargerFont{
font-size: 105px;
font-weight: bold;
color: white;
}
.MissionHeaderFont{
position: absolute;
bottom: 7%;
left: 10%;
}
.MissionTitle{
font: 40px;
letter-spacing: 12px;
text-align: center;
padding-top: 7%;
}
.MissionPlanetText{
position: relative;
top: 350px;
right: 590px;
white-space: nowrap;
font-size: 25px;
letter-spacing: 3px;
}
#DiscoveryTitle{
padding-top: 6%;
}
.MissionDiscoveryTextAlign{
position: relative;
top: 350px;
right: 560px;
white-space: nowrap;
font-weight: bold;
font-size: 25px;
letter-spacing: 3px;
}
.MissionLaunchesTextAlign{
position: relative;
top: 315px;
right: 260px;
}
.arrow{
    position: absolute;
    width: 47px;
    height: 47px;
}
.RightArrow{
    right:50px;
    margin-top: 250px;
}
.LeftArrow{
    left:50px;
    margin-top: 250px;
}
